.main-nav-bar {
    border-top: 5px solid $orange;
    height: 7.5rem;
    display: flex;
    flex-direction: row-reverse;

}

.main-nav-bar__nav-item {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 $l-size;
    font-size: $font-size-large;
    height: 100%;
    > a {
        color: $text-color;
        text-decoration: none;

    }
}
.main-nav-bar__nav-item:hover {
    background: $very-light-gray;
}

.main-nav-bar__yad2-icon {
    @extend .main-nav-bar__nav-item;
    padding-right: $s-size;
    height: 100%;
}
.main-nav-bar__yad2-icon:hover {
    background: white;
}

.nav-item__drop-down {
    z-index: 10;
    background: white;
}
.nav-item__drop-down__container {
    margin: $l-size $l-size;
    display: flex;
    flex-direction: column;
    >a {
        padding: $s-size $m-size;
        text-decoration: none;
        color: $text-color;
    }
}