.real-estate-nav-bar {
    @extend .main-nav-bar;
    height: $real-estate-nav-bar-height;
    border-top: 1px solid $very-light-gray;
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.1);
}

.real-estate-nav-item__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    >a{
        padding: 0 $m-size;
        text-decoration: none;
        color: $text-color;
    }
}
.real-estate-nav-item__wrapper:hover{
    background: $very-very-light-gray;
}

.real-estate-nav-item__container{
    padding: $s-size;
}

.icon-spacer{
    width: 10rem;
}

.real-estate-nav-link__wrapper{
    @extend .real-estate-nav-item__wrapper;
}
.real-estate-nav-link__wrapper:hover{
    background: $very-light-gray;

}
.real-estate-nav-link__container{
    @extend .real-estate-nav-item__container;
}