.checkbox__wrapper__generic{
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    direction: rtl;
    align-items: center;
    margin-left: $m-size;
    .checkbox__icon{
        width:1.5rem;
        height: 1.5rem;
        border-radius: 0.1rem;
        border: 1px solid black;
        margin: 0 $s-size;
        z-index: 20;
        @extend .flex-center;
        color: white;
    }
}
.checkbox__wrapper__unselected{
    @extend .checkbox__wrapper__generic;
}
.checkbox__wrapper__unselected:hover{
    .checkbox__icon{
        border-color: $orange;
    }
}