.image-slider__wrapper{
    @extend .flex-center;
    background: $image-slider-background;
    height: 100%;
    width: 100%;
    >.image-slider__container{
        //position: relative;
       img{
           max-height: 60rem;
       }
       

      
    }
    >.image-slider__container:hover{
        box-shadow: $image-slider-box-shadow;
    }
}