//setting z index
.SingleDatePicker, 
.SingleDatePicker .DayPickerNavigation{
}

//getting rid of unwanted stuff
.CalendarMonth_table td,
.CalendarMonth_table td:hover{
    border: none;
}
.SingleDatePicker .DayPickerNavigation_button{
    border: none;
}
input.DateInput_input{
    border-bottom: none;
}
.DayPickerKeyboardShortcuts_show__bottomRight::before {
    display: none;
}

.DateInput_input__disabled{
    font-style: normal;
    
}

//styling
.CalendarDay{
    border-radius: 3rem;
    width: 50%;
}
.CalendarDay:hover{
background: lighten($orange, 20%);
color: white;
}
.CalendarDay__selected {
background: $orange;
color: white;
}
.CalendarDay__selected:hover {
background: lighten($orange, 20%);
color: white;
}
.DateInput,
.DateInput *{
    width: 18rem;
}
input.DateInput_input{
    color: $light-gray;
    font-size: $font-size-m;
}
