.search-field__wrapper{
    margin-right: $s-size;
    >p{
        font-size: $font-size-s;
        margin-bottom: 0;
        text-align: right;
    }
    >.search-field__invisible-meta-text{
        visibility: hidden;
    }
}