.real-estate-page-body__wrapper{
    display: flex;
    justify-content: center;
    background: $off-white;
}

.real-estate-page-body__container{
    @media (max-width: $desktop-breakpoint) {
        width: 90%;
    }
    @media (min-width: $desktop-breakpoint) {
        width: 65%;
    }
}

.search-results__spacer{
    width: 100%;
    height: 10rem;
}