.top-info__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: $m-size;
}

.top-info__currentNav{
    color: $light-gray;
    direction: rtl;
}
.top-info__currentNav__item{
    padding: $s-size $s-size;
    color: $light-gray;
    font-size: $font-size-s;
}
.top-info__accessibility-button{
    @extend .flex-center;
    color: white;
    border-radius: 0.3rem;
    border: none;
    padding: 0.6rem $s-size;
    background: darkblue;
    >span{
        font-size: 3rem;
    }
}
.top-info__accessibility-button:hover{
    background: darken(darkblue, 10%);
}
.top-info__spacer{
    width: 100%;
    height: 20rem;
}