.main-nav-bar {
    border-top: 5px solid $orange;
    height: $top-nav-bar-height;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.main-nav-bar__nav-item {
    background: white;
    @extend .flex-center;
    padding: 0 0;
    font-size: $font-size-m;
    height: 100%;
}

.main-nav-bar__yad2-icon__wrapper {
    @extend .main-nav-bar__nav-item;
    width:10rem;
    a {
        height: 100%;
        width:auto;
    }
    padding: 1rem $m-size 1rem 1rem;
}

.main-nav-bar__yad2-icon{
    height: 100%;
    width:auto;
}

.drop-down-list-wrapper{
    z-index: 10;
    background: white;
    position: absolute;
    border: 1px solid $very-light-gray;
    box-shadow: $regular-box-shadow;
    direction: rtl;
    width: auto;
    height: auto;
}

.main-nav-bar__nav-item__drop-down__container {
    margin: $l-size $s-size $s-size $l-size;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    max-height: 32rem;

    >.react-link {
        padding: $xs-size $m-size;
        text-decoration: none;
        color: $text-color;
        display: inline-block;
        height: auto;
        font-size: $font-size-m;
    }
    >.react-link:hover{
        color: $orange;
    }
}

.main-nav-bar__right-side{
    display: flex;
    flex-direction: row-reverse;
}
.main-nav-bar__left-side{
    display: flex;
    flex-direction: row;
    @media (max-width: $desktop-breakpoint) {
        display: none;
    }
}

.add-item-button__wrapper{
    display: flex;
    align-items: center;
    a{
        text-decoration: none;
    }
}

.add-item-button {
    padding: 0.8rem $l-size;
    margin: $l-size 0;
    border-radius: 2.5rem;
    background: $green;
    color: white;
    direction: rtl;
}
.add-item-button:hover{
    background: $dark-green;
}

.personal-area-button__wrapper{
    @extend .flex-center;
    padding: 0 0;
    background: white;
    >.react-link{
        @extend .flex-center;
        padding: $m-size $m-size;
        height: 100%;
        text-decoration: none;
        color: orange;
    }
}
.personal-area-button__wrapper:hover{
   background: $very-very-light-gray; 
}

.saved-items-button__wrapper{

}
.saved-items-button__wrapper:hover{
    @extend .personal-area-button__wrapper:hover
}

.saved-items-button__drop-down__container{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    >h4{
        text-align: center;
        margin:$s-size;
    }
    >p{
        text-align: center;
        margin:$s-size;
    }
}

.generic-nav-item{
    @extend .flex-center;
    padding: 0 0;
    background: white;
    .react-link{
        padding: $m-size;
        text-decoration: none;
        color: $text-color;
        font-size: 3rem;
    }
}

.car-comparison-button__wrapper:hover{
    background: $very-very-light-gray;
}

.prev-searches-button__wrapper{
    @extend .main-nav-bar__nav-item;
    padding:0;
    width:5rem;
    .react-link{
        width:100%;
        padding:0;
    }
    img{
        width: 50%;
    }
}
.prev-searches-button__wrapper:hover{
    background: $very-very-light-gray;

}

.prev-searches-button__drop-down__wrapper{
}

.prev-searches-button__drop-down__container{
    padding: 0;
    width: 35rem;

    >h4{
        direction: rtl;
        text-align:right;
        padding: $s-size $m-size;
    }
    >p{
        color:$text-color;
    }
}

.prev-searches-button__drop-down__to-all-searches{
    margin:0;
    width:100%;
    height: 5rem;
    @extend .flex-center;
    .react-link{
        font-size: $font-size-l;
    }
}
.prev-searches-button__drop-down__to-all-searches:hover{
    background: $very-very-light-gray;
}

.prev-searches-item__wrapper {
    padding: 0;
    a{
        margin: 0;
        text-decoration: none;
        color: $text-color;
        width:100%;
        height:100%;
        display: flex;
        justify-content: right;
    }
}

.prev-searches-item__wrapper:hover {
    background: $very-very-light-gray;
}

.prev-searches-item__container {
    margin: 0 $l-size;
    >h4{
        font-size: $font-size-l;
        color: $light-gray;
        margin: $m-size 0;
    }
    >p{
        font-size: $font-size-m;
        direction: rtl;
        text-align: right;
    }
}
