.real-estate-nav-bar {
    @extend .main-nav-bar;
    height: 5rem;
    border-top: 1px solid $very-light-gray;
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.1);
}

.real-estate-nav-item__wrapper{
    @extend .flex-center;
}
.real-estate-nav-item__wrapper:hover{
    background: $very-very-light-gray;
}

.real-estate-nav-item__container{
    padding: 0;
}

.icon-spacer{
    width: 10rem;
}

.real-estate-nav-link__wrapper{
    @extend .real-estate-nav-item__wrapper;
    flex-shrink: 3;
}
.real-estate-nav-link__wrapper:hover{
    background: $very-light-gray;

}
.real-estate-nav-link__container{
    @extend .real-estate-nav-item__container;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.icon__yad1{
    margin-left: $xs-size;
    height: 2rem;
}
.icon__yadata{
    margin-left: $xs-size;
    height: 1.5rem;
}
.icon__kones{
    margin-left: $xs-size;
    height:4rem;
}
.icon__real-estate-index{
    margin-left: $xs-size;
    height: 4rem;
}