.results-list{
    border: 1px solid $light-gray;
    margin-bottom: $l-size;
}
.results-list__loading{
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $light-gray;
    margin-bottom: $l-size;
}