.results-list{
    border: 1px solid $very-light-gray;
    margin-bottom: $l-size;
}
.results-list__loading{
    @extend .flex-center;

    border: 1px solid $very-light-gray;
    margin-bottom: $l-size;
}