.search-results__wrapper{
    height: 150rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.search-results__wrapper__right-side{
    width: 72%;
    direction: rtl;
}

.search-results__wrapper__left-side{
    width: 27%;
    border: $regular-border;
    background: $off-white;
    border-radius: 0.5rem;
}