.search-results__wrapper{
    height: 150rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.search-results__wrapper__right-side{
    width: 72%;
    border: 1px solid $very-light-gray;
    direction: rtl;
}

.search-results__wrapper__left-side{
    width: 27%;
    border: 1px solid $very-light-gray;
    background: $very-light-gray;
    border-radius: 0.5rem;
}