.type__dropdown__wrapper{
    background: white;
    position: absolute;
    z-index: 15;
    box-shadow: $top-and-sides-box-shadow;
    padding-top: $m-size;
    >p{
        color:$orange;
        margin-right: $m-size;
        cursor: pointer;
    }
}
.type-button-field{
    @extend .input;
    @extend .clickable;
    width: 15rem;
}

.type__dropdown__container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    max-height: 16rem;
    position: relative;
}

.checkbox__wrapper__selected{
    @extend .checkbox__wrapper__generic;
    .checkbox__icon{
        border: 1px solid $orange;
        background: $orange;
    }
}
.checkbox__wrapper__selected:hover{
    .checkbox__icon{
        border-color: darken($orange, 15);
        background: darken($orange, 15)
    }
}