.search-bar__advanced__wrapper{
    z-index: 10;
    background: white;
    position: absolute;
    border-top: $very-light-gray;
    height: 30rem;
    border-top: 1px solid $very-light-gray;
    box-shadow: $top-and-sides-box-shadow;
    text-align: center;
}