.search-bar__header{
    color: $text-color;
    font-weight: $bold-weight;
    font-size: $font-size-l;
}

.search-bar__header__special-word{
    @extend .clickable;
    color: $orange;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: none;
}

.search-bar__header__drop-down__wrapper{
    position: absolute;
    z-index: 20;
    background: white;
    box-shadow: $regular-box-shadow;
}

.search-bar__header__drop-down__item{
    @extend .flex-center;
    border-top: 1px solid $very-light-gray;
    >a{
        padding: $s-size 8rem;
        text-decoration: none;
        color: $text-color;
        font-size: $font-size-s;
    }
}
.search-bar__header__drop-down__item__selected{
    background: $light-orange;
    >a{
        color: $orange;
    }
}
.search-bar__header__drop-down__item:hover{
    @extend .search-bar__header__drop-down__item__selected;   
}

.search-bar__header__drop-down__header{
    color: $light-gray;
    text-align: center;
    font-size: $font-size-s;
    padding: 0.6rem;
}
