.search-bar__main__container{
    display: flex;
    margin-top: $l-size;
    flex-wrap: wrap;
    >.search-buttons__container{
        padding:0;
        margin:0;
        display: flex;
        flex-direction: row;
    }
}

.search-bar__main__advanced-button{
    background: $very-very-light-gray;
    border: none;
    padding: $s-size $s-size;
    height: $form-input-height;
}

.search-bar__main__advanced-button:hover{
    background: darken($very-very-light-gray, 15%);
}

.search-bar__main__search-button{
    background: $orange;
    color: white;
    border: none;
    padding: $s-size $s-size;
    >span{
        font-size: 1.5rem;
    }
    height: $form-input-height;
}
.search-bar__main__search-button:hover{
    background: darken($orange, 6%);
}