.feed-item--closed{
    @extend .feed-item;
    @extend .clickable;
    height: 8.6rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    font-size: $font-size-m;
    background: $item-yellow;
}

.feed-item--closed:hover{
    >.feed-item--closed__price__wrapper{
        >.open-in-new-tab{
            >.open-in-new-tab-text{
                visibility: visible;
            }
        }
        >.feed-item--closed__price__bottom-text{
            >.feed-item--closed__price__update-time{
                opacity: 0;
            }
            >.feed-item--closed__price__click-for-details{
                opacity: 1;
                color: $orange;
                font-weight: 600;
            }
        }
    }
    >.feed-item__image__wrapper{
        >.feed-item__image__container{
            >.feed-item__image_num-of-images{
                display: block;
                position: absolute;
                z-index: 10;
                opacity: 0.7;
                background: $text-color;
                border-radius: 1.6rem;

                width: 4.8rem;
                left: 50%;
                margin-left: -2.4rem;

                height: 3rem;
                top: 50%;
                margin-top: -1.5rem
            }
        }
    }
}