.feed-item__wrapper{
    display: flex;
    flex-direction: row;
    >.edit-item__button {
        @extend .flex-center;
        background: $orange;
        flex-grow: 1;
        border: $regular-border;
        .edit-item__button__link{
            @extend .react-link;
        }
    }
}
.feed-item {
    border: $regular-border;
    width: 100%;
}
.feed-item:hover{
    box-shadow: $lighter-box-shadow;
    .feed-item__image__wrapper{
        >.feed-item__image__container{
            overflow: hidden;
            >img.feed-item-image{
                transform: scale(1.05);
            }
        }
    }
}
.item-background-yellow{
    background: $item-yellow;
}
.item-background-red{
    background: $item-red;
}
.item-background-white{
    background: $item-white;
}

@import './FeedItemClosed';
@import './FeedItemOpened';
@import './FeedItemImage';
@import './FeedItemProps';
@import './FeedItemClosedPrice';
@import './FeedItemDescription';