.feed-item {
    border: $regular-border;
    width: 100%;
}
.feed-item:hover{
    box-shadow: $lighter-box-shadow;
}

@import './FeedItemClosed';
@import './FeedItemOpened';
@import './FeedItemImage';
@import './FeedItemProps';
@import './FeedItemClosedPrice';
@import './FeedItemDescription';