.feed-item__header{
    @extend .clickable;
    font-size: $font-size-m;
    display: flex;
    flex-direction: row;
    height: 13.7rem;
    border-bottom: $regular-border;
    >.feed-item__header__middle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
        height: 100%;
        flex-grow: 1;
        margin-right: $l-size;
        >.feed-item__props__wrapper{
            border: none;
            width:40%;
            justify-content: space-between;
        }
    }
    >.feed-item__image__wrapper{
        padding: 1rem;
        >.feed-item__image__container{
            >.feed-item__image__num-of-images__wrapper{
                display: block;
                position: absolute;
                z-index: 10;
                opacity: 0.7;
                background: $text-color;
                border-radius: 1.6rem;

                width: 4.8rem;
                left: 50%;
                margin-left: -2.4rem;

                height: 3rem;
                top: 50%;
                margin-top: -1.5rem;
            }
            >.feed-item__image_num-of-images__content{
                display: block;
                position: absolute;
                z-index: 11;
                opacity: 1;
                background: white;

                width: 2.4rem;
                left: 50%;
                margin-left: -1.2rem;

                height: 1.5rem;
                top: 50%;
                margin-top: -0.75rem;

                border-radius: 0.3rem;
                border: 1px solid black;
                box-shadow: 3px 3px 0px white;
                >.feed-item__image_num-of-images__text{
                    font-size: 1.2rem;
                    color: $text-color;
                    display: inline-block;
                    position: relative;
                    top: -0.7rem;
                    left: -0.5rem;
                }
            }
        }
    }
}