.feed-item__body__bottom{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: $m-size;
    @media (max-width: $desktop-breakpoint) {
        flex-direction: column-reverse;
    }

    >.feed-item__body__bottom__text{
        >p{
            font-size: $font-size-s;
            margin: 0;
        }
        >span{
            font-size: $font-size-s;
            font-weight: $bold-weight;
            color: $orange;
        }
    }
}