.item-form{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100%;
    .input{
        direction: rtl;
        @extend .input-border;
    }
    .text-input{
        direction: rtl;
        width: 40rem;
        max-width: 100%;
        height: 13rem;
        resize: none;
        @extend .input-border;     
    }
    .search-field__wrapper{
        display: flex;
        max-width: 100%;
        flex-direction: column;
        align-items: flex-start;
        direction: rtl;
        margin: 0 0 3rem 0;
    }
    .checkbox__icon{
        margin-right: 0;
    }
    .is-brokerage__wrapper{
        margin-bottom: 3rem;
    }
    .search-bar-advanced-properties__wrapper{
        width: 90%;
        direction: rtl;
        margin-bottom: 5rem;
    }
    .item-form__buttonsWrapper{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 5rem;
        .item-form__submit-button{
            @extend .clickable;
            background: white;
            padding: 1rem 4rem;
            border: $regular-border;
            color:green;
        }
        .item-form__delete-button{
            @extend .item-form__submit-button;
            color: red;
            padding: 1rem 1rem;
        }
    }
    .image-upload__wrapper{
        div.deleteImage{
            background: $orange;
        }
        button.chooseFileButton{
            background-color: $orange;
        }
        div.fileContainer{
            padding: 1rem;
        }
        div.errorMessage{
            color: red;
            direction: rtl;
            text-align: center;
        }
    }
    .image-deletion{
        display: flex;
        flex-direction: row-reverse;


        .image-deletion-item{
            display: flex;
            flex-direction: column;
            width: 25%;

            .image-deletion-item-img__wrapper{
                .image-deletion-item-img{
                    height:100%;
                    width:100%;
                }
            }
        }
    }
}

.input-border{
    border: 1px solid rgb(204, 204, 204);
    &:hover{
        border: 1px solid rgb(179, 179, 179);
    }
    &:focus{
        border: 1px solid rgb(120, 120, 120);
    }
}