.my-items__wrapper{
    display: flex;
    margin: 2rem 6rem;
    flex-direction: column;
    >h1{
        align-self: center;
    }
    >.items__container{
        width: 85%;
        align-self: flex-end;
    }
    >.success-message{
        color: green;
        direction: rtl;
        align-self: flex-end;
        font-size: 4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}