.personal-page__wrapper{
    @extend .flex-center;
    >.personal-page__container{
        @extend .real-estate-page-body__container;
        >h1{
            text-align: right;
            padding: 0 3rem 0 0;
            font-size: 5rem;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
        >.personal-page__body{
            min-height: 100rem;
            background: $very-very-light-gray;
        }
    
    }
}