@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    box-sizing: border-box;
    color: $text-color;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik',sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  $text-color: $text-color;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.react-link{
    padding: 0 $m-size;
    @extend .flex-center;
    text-decoration: none;
    color: $text-color;
    height:100%;
    direction: rtl;
}

.react-link-regular{
    direction: rtl;
    color: $footer-paragraph;
    text-decoration: none;
}
.react-link-regular:hover{
    text-decoration: underline;
}

.drop-down-list{
    position: absolute;
    z-index: 10;
}
button, input, textarea:focus{
    outline:none;
}

.input{
    width: 18rem;
    height: $form-input-height;
    background: white;
    padding: $xs-size;
    border: $regular-border;
    display: flex;
    justify-content: space-between;
    color: $light-gray;
}
input{
    @extend .input;
}
::placeholder {
    color: $light-gray;
  }

.clickable{
    cursor: pointer;
}
.invisible{
    visibility: hidden;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
