@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    box-sizing: border-box;
    color: $text-color;
}

html {
  @media (max-width: $desktop-breakpoint) {
    font-size: 48%;
  }
  @media (min-width: $desktop-breakpoint) {
    font-size: 62.5%;
  }
}

body {
  font-family: 'Rubik',sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  $text-color: $text-color;
}

button {
  cursor: pointer;
}
p{
  margin: 0;
}
h1{
  direction: rtl;
}
button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.react-link{
    padding: 0 $m-size;
    @extend .flex-center;
    @extend .clickable;
    text-decoration: none;
    color: $text-color;
    height:100%;
    direction: rtl;
}

.react-link-regular{
    direction: rtl;
    color: $footer-paragraph;
    text-decoration: none;
}
.react-link-regular:hover{
    text-decoration: underline;
}

.drop-down-list{
    position: absolute;
    z-index: 10;
}
button, input, textarea:focus{
    outline:none;
}

.input{
    width: 18rem;
    height: $form-input-height;
    background: white;
    padding: $xs-size;
    border: $regular-border;
    display: flex;
    justify-content: space-between;
    color: $light-gray;
}
input{
    @extend .input;
}
::placeholder {
    color: $light-gray;
  }

.clickable{
  @extend .unselectable-text;
  cursor: pointer;
}
.invisible{
  visibility: hidden;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.unselectable-text{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
  -webkit-user-drag: none;
}