// Colors
$off-white: #f9f9f9;
$dark-gray: #333333;
$light-gray: #888888;
$very-light-gray: #DDDDDD;
$very-very-light-gray: #EEEEEE;
$image-slider-background: #454545;
$footer-background: #363636;
$text-color: #363636;
$footer-paragraph: #999999;
$footer-section-header: white;
$footer-link: #CCCCCC;
$gray: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$orange: #ff7100;
$light-orange: lighten($orange, 45%);
$green: #0FCA80;
$dark-green: #0E9C64;
$details-green: #6FCB81;
$details-hovered-green: #0e9664;
$item-yellow: #F5F1BF;
$item-red: lighten(red, 30%);
$item-white: white;
$restore-password-color: #3A4750;
$login-button-background: #697580;
$error-color: red;

//Font Size
$font-size-s: 1.4rem;
$font-size-m: 1.6rem;
$font-size-l: 1.8rem;
$loginHeaderSize: 2.2rem;

// Spacing
$xs-size: 0.7rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2.7rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 60rem;
$desktop-breakpoint-plus: 70rem;
$top-nav-bar-height: 7.5rem;
$form-input-height: 4rem;

// Others
$regular-border: 1px solid $very-light-gray;
$restore-password-border: 0.5rem solid #cacaca;
$regular-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
$lighter-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
$top-and-sides-box-shadow: 1.5rem 1.5rem 1.5rem -1.5rem rgba(0, 0, 0, 0.3), -1.5rem 1.5rem 1.5rem -1.5rem rgba(0, 0, 0, 0.2);
$bottom-and-sides-box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.3), -0.5rem 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.3);
$image-slider-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.6);
$bold-weight: 600;
